@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}

div.container {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

div.category-selector {
	overflow: hidden;
	width: 200%;
	margin-left: -50%;
	background-color: rgb(237, 237, 237);
	height: 100px;
}

div.category-selector select {
	width: 300px;
	background-color: rgb(25, 228, 95);
	border-radius: 4px;
	height: 44px;
	padding: 5px;
	margin-top: 10px;
	font-family: MuseoSansCyrlRegular;

}

.title2{
	text-align: center;
	display: block;
	width: 100%;
	padding: 45px 0;
	font-family: MuseoSansCyrlBold;
	font-size: 24px;
}

.flex-container {
  position: relative; 
	width: 1100px; 
	margin-left: auto; 
	margin-right: auto; 
	display: flex; 
	justify-content: space-between;
}



.list-item .inner-a > div{
	position: relative;
	transition: .3s;
	display: inline-block;
	width: 19%;
	margin-right: 13px;
	border-radius: 15px;
	margin-bottom: 10px;
	height: 275px;
	padding: 25px;
	margin-bottom: 20px;
	border: 1px solid rgb(227, 227, 227);
	vertical-align: top;
}
.list-item a:nth-child(8n - 1) .item{
	margin-right: 0px;
}

.list-item a > div:hover {
	cursor: pointer;
	transform: translate(0,-5px);
	-webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.2);	
}
.item > div.img-container{
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}
.list-item div .stick2{
	position: absolute;
	color: rgb(50, 50, 50);
	display: block;
	top: 10px;
	padding: 4px 30px;
	border-radius: 15px;
	background: yellow;
	font-size: 10px;
	font-family: MuseoSansCyrlBold;
	color: rgb(50,50,50);
	white-space: nowrap;
}	
.list-item div img{
	margin-top: 10px; 
	margin-bottom: 10px; 
	/*border-radius: 8px;*/
	height: 200px;
}
.list-item p.name,.list-item1 p.name{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	width: 60%;
	color: rgb(50,50,50);
	font-family: MuseoSansCyrlBold;
}
.list-item .item .get-item,.list-item1 .item .get-item{
	margin-left: -2px;
	position: relative;
	display: inline-block;
	padding: 4px 10px;
	vertical-align: middle;
	background: #35ca67;
	color: white;
	font-family: MuseoSansCyrlBold;
	border-radius: 20px;
	font-size: 14px;
	transition: .3s;
}
.list-item .item .get-item:hover{
	background: rgb(50, 50, 50);
}

.list-item1 div .stick1{
	position: absolute;
	color: rgb(50, 50, 50);
	display: block;
	margin: 0;
	padding: 4px 30px;
	border-radius: 15px;
	background: #35ca67;
	font-size: 10px;
	top: 10px;
	text-align:center;
	font-family: MuseoSansCyrlBold;
	color: rgb(50,50,50);
}
.list-item1 div .stick2{
	position: absolute;
	color: rgb(50, 50, 50);
	display: block;
	top: 15px;
	right: auto;
	padding: 4px 30px;
	border-radius: 15px;
	background: yellow;
	font-size: 10px;
	/*text-align:center;*/
	font-family: MuseoSansCyrlBold;
	color: rgb(50,50,50);
	white-space: nowrap;
}	