@media screen and (max-width: 1100px){
    div.container{
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
    div.flex-container{
        width: 96%;
        padding-right: 2%;
        padding-left: 2%; 
    }
    div.slider-main{
        width: 96%;
        margin-left: 2%;
    }
    .categories div:nth-child(5){
        width: 97.7%;
    }
    div.slider-main .next, .prev{
        display: none !important;
    }
    .geoPos{
        display: none;
    }
    .categories{
        margin-left: 2%;
    }
    .categories div {
        width: 48%;
        height: auto;
        margin-right: 1%;
        padding-top: 35px;
    }
    .categories div:nth-child(2n){
        margin-right: none;
    }
    .paragraph p{
        width: auto;
    }
    .popular div.item{
        width: 46%;
        padding: 0 1%;
        margin-right: 2%;
    }
    .popular a:nth-child(3n) div.item{
        margin-right: 0;
    }
    .popular div img{
        height: auto;
    }
    .news div img{
        height: auto;
    }
    .catalogUL{
		display: none !important;
    }
    div.icon-with-shadow{
        display: none;
    }
    .categories div a{
		left: 5%;
		bottom: 5%;
	}
	div.inner-slider {
		padding: 0;
		width: 100%;
	}	
	.left-menu .label-name {
		display: none;
	}
	.popular div.item {
		height: auto;
		width: 94%;
		padding: 0 1%;
		margin-left: 2%;
		margin-bottom: 20px;		
	}
	.list-item p.name,.list-item1 p.name{
		text-align: center;
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}	
	.list-item .item .get-item,.list-item1 .item .get-item{
		width: 87%;
		text-align: center;
		margin: 20px 0px;
		margin-left: 5%;
	}	
}