@media screen and (max-width: 720px) {
	header{
		padding-bottom: 15px;
	}
	#flash_message {
		width: 90%;
		left: 5%;
	}
	.mob{
		display: block;
	}
	#mob-menu{
		display: block;
		position: fixed;
		height: 100%;
		width: 100%;
		left: -100%;
		transition: .5s;
		background: white;
		z-index: 99;
		-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	}
	#mob-menu ul{
		padding: 20px 15%;
	}
	div.slider-buttons {
		width: 100%;
		position: absolute;
		left: 0;
		text-align: center;
		bottom: 20px;
	}
	.popUpTitle{
		font-size: 18px;
	}
	.top-a{
		width: 100%;
		padding: 15px 0;
		border-color: #35ca67;
	}
	div.inner-slider div.small-photo img:nth-child(5n){
		margin-right: 0;
	}
	.mobile-menu{
		width: 15%;
		display: flex;
		text-align: center;
		align-items: center;
		font-size: 35px;
		padding: 0 5%;
		color: #35ca67;
	}
	.popular div.item {
		height: auto;
		width: 94%;
		padding: 0 1%;
		margin-left: 2%;
		margin-bottom: 20px;
	}
	.bighr{
		display: none;
	}
	.mt-40 {
		margin-top: 0px;
	}
	.panel{
		display: none;
	}
	.panel.mob{
		display: block;
	}
	.mobilehide{
		display: none;
	}
	.categories div a{
		display: block;
		background: none;
		font-size: 0;
		padding: 0;
		box-shadow: none;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	.categories div h2 {
		left: 8%;
		top: 5%;
		font-size: 16px;
	}
	footer .flex-container{
		flex-direction: column;
		align-items: center;
	}
	.left div{
		margin: 20px 0;
		margin-right: 0;
	}
	.soc-network{
		display: none;
	}
	header .flex-container{
		justify-content: flex-start;
	}
	.flex-container > .logo{		
		width: 50%;
		margin: 0;
		margin-top: 20px;
		padding: 0;
	}
	.flex-container > .logo img{
		width: 100%;
	}
	.center{
		margin: 30px 0;
		margin-right: 0;
	}
	.placetip{
		display: none;
	}
	.vert-align{
		display: none;
	}
	.list-item .inner-a > div {
	    width: 84%;
	    margin-left: 3%;
	    margin-bottom: 30px;
	    padding: 3%;
	    height: auto;
    }
    .list-item div .stick2{
		top: 10px;
		left: 7%;
	}
	.list-item div img{
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 3%;
	}
	.list-item p.name,.list-item1 p.name{
		text-align: center;
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
	.list-item .item .get-item,.list-item1 .item .get-item{
		width: 87%;
		text-align: center;
		margin: 20px 0px;
		margin-left: 5%;
	}
	.list-item1 div .stick2{
		top: 15px;
		padding: 4px 30px;
	}
	div.news-item {
		width: 90%;
		margin-left: 3%;
		margin-right: 0;
		height: auto;
	}
	.news div img {
		height: auto;
	}
	.news .title {
		width: 90%;
		margin-left: 5%;
	}
	.news .data {
		width: 90%;
		margin-left: 5%;
		text-align: left;
	}
	.news .info {
		width: 90%;
		margin-left: 5%;
	}
	.stories {
		width: 90%;
	}
	.news-block div.photo img{
		margin-left: 15%;
	}
	.left-menu {
		width: auto;
	}
	div.left-menu a {
		padding: 0px;
	}
	div.inner-slider a {
		width: auto;
	}	
	div.about-product {
		margin-left: 3%;
		width: 90%;
	}
	div.title-info b{
		width: 100%;
		text-align: center;
	}
	div.news-block {
		width: auto;
	}
	div.news-block div.news-header .part-name {
		width: 95%;
	}
	div.news-block div.news-header .part-name {
		width: 95%;
		float: right;
	}
	.number-with-plus-minus {
		display: none;
	}
	button.order {
		width: 94%;
		margin-left: 3%;
	}
	.categories div img {
		left: 0;
		width: 100%;
	}
	.categories div:nth-child(2) img {
		background: #35ca67;
		width: 89%;
		left: 3%;
		padding-top: 4%;
	}
	.categories div:nth-child(3) img {
		width: 65%;
		left: 17%;
		margin-top: -6%;
	}
	.categories div:nth-child(4) img {
		width: 129%;
    	left: 0%;
    	margin-left: -20%;
    	padding: 3% 0;
	}
	a.button-go-top {
		display: none;
	}
	a.call-button {
		bottom: 15px;
		right: 15px;
	}
	.popup-inner {
	    width: 80%;
	    margin-left: 0%;
	}
	.popup-close {
		right: 40px;
		top: 40px;
	}
	.contactUs input {
		padding: 10px 20px 10px 20px;
		margin-bottom: 10px;
	}	
	.contactUs textarea {
		padding: 10px 20px 10px 20px;
		margin-bottom: 20px;
	}
	/*Dropdown*/
	.dropdown-panel {
		width: 100%;
	}
	.dropbtn {
		font-family: MuseoSansCyrlBold;
	    color: rgb(50, 50, 50);
	    padding: 16px;
	    font-size: 16px;
	    width: 100%;
	    border: none;
	    cursor: pointer;
	}

	.dropdown {
	    position: relative;
	    display: inline-block;
	}

	.dropdown-content {
		border-radius: 15px;
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    width: 100%;
	    overflow: auto;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}

	.dropdown-content a {
		text-align: center;
		font-family: MuseoSansCyrlBold;
		font-size: 15px;
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	}

	.dropdown a:hover {background-color: #f1f1f1}

	.show {display:block;}
	#slider-small-photo {
		display: none;
	}				
}

@media screen and (max-width: 420px) {
	#slider-big-photo {
		display: none;
	}
	#slider-small-photo {
		display: block;
	}
	.slide > a {
		display: block;
		background: none;
		font-size: 0;
		padding: 0;
		box-shadow: none;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	div.slider-main {
		max-height: 285px;
		background: none;
		border: none;
	}
}