
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body, .wrapper, .content {
	height: 100%;
}

button, a {
	outline: none !important;
}

@media(max-width: 991px) {
	html, body {
		overflow: auto;
	}
}

@media(min-width: 992px) {
	html, body {
		overflow: hidden;
	}
}

.content .menu-block, .main-block {
	height: 100%;
	margin: 0;
}

.content .menu-block .full-panel {
	height: 100%;
}

.content .menu-block .full-panel div.links{
	height: 60%;
	overflow-y: auto;
}

a.button-exit {
	position: relative;
	top: 130px;
	z-index: 2;
}

.content .main-block .full-panel {
	height: 90%;	
}

.content .main-block .full-panel .with-overflow {
	max-height: 75%;
	overflow-y: auto;
}

.content .main-block .full-panel .with-overflow-form {
	max-height: 80%;
	overflow-y: auto;
}

.content .main-block .full-panel div.content-head {
	position: relative;
}

.nopadding {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
}

span.head-text {
	text-decoration: none;
	font-size: 20px;
	color: rgb(107, 107, 107);	
}

a.list-group-item {
	text-decoration: none;
	font-size: 16px;
	color: rgb(107, 107, 107);
}

a.list-group-item span {
	font-size: 14px;
	color: rgb(107, 107, 107);
}

a.active {
	background-color: #3D9AD1;
	color: white;
}

div.default-row {
	margin: 0px;
}

div.table-head {
	padding: 10px 0px 5px 0px;
	text-align: center;
}

div.table-head span {
	font-size: 20px;
}

div.colomn-name {
	padding: 5px 0px 5px 0px;
	text-align: center;	
}

div.colomn-name span {
	font-size: 16px;
}

div.buttons {
	display: inline-block;
	float: right;
}

div.items {
	overflow-y: auto;
}

.check-or-error div {
	font-size: 14px;
}

div.check-or-error span.checked {
	color: green;
}


div.check-or-error span.errored {
	color: red;
}

div.creating-row {
	padding: 5px 0px;
}

div.image input{
	display: none;
}

div.image label.custom-label {
	border: 1px solid rgb(50, 50, 50);
	display: inline-block;
	padding: 6px 12px;	
	margin: 0px;
	border-radius: 4px;
}

div.image label.custom-label:hover {
	background-color: rgb(237, 237, 237);
	cursor: pointer;
}

div.uploadedImage {
	width:200px;
	display: inline-block;
}

div.uploadedImage img {
	display: inline-block;
	width: inherit;
	border-radius: 10px;
}

//modal window's css
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.gallery-photo {
	position: relative;
	width: 20%;
	height: 250px;
	padding: 5px;
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
	margin-bottom: 10px;
}

div.gallery-photo img {
	width: 100%;
	border-radius: 10px;
	height: 80%;
}

div.gallery-photo button {
	width: 100%;
}