<template>
    <div class="panel panel-default main-block">
        <div class="panel-heading">
            <span class="head-text">Создание товара</span>
        </div>
        <div class="panel-body nopadding full-panel">
            <productForm :product="product" :mode="'create'"></productForm>
            <div id="button-create" class="row default-row creating-row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="buttons">
                        <button class="btn btn-primary btn-md" @click="save()">Создать</button>
                        <button class="btn btn-primary btn-md" @click="$router.push('/products')">Вернуться к списку</button>
                    </div>
                </div>
            </div>                                  
        </div>
    </div>
</template>

<script>
    import productForm from './form.vue'
    export default {
        data() {
            return {
                product: {
                    name: '',
                    category_id: '',
                    short_info: '',
                    description: '',
                    image: null,
                    image_url: null,
                    is_by_order: false
                },
                categories: [],
                imageName: ''
            }
        },

        components: {
            productForm
        },

        mounted () {
            this.load();
        },

        methods: {
            async load () {
                var responsedData = await this.$http.get('products');
                this.categories = responsedData.categories;                
            },

            async save () {
                const data = new FormData();
                for (let key in this.product) {
                    if (this.product[key] === null && key !== 'image_url') {
                        this.$parent.message = 'Необходимо заполнить все поля';
                        this.$parent.showModal = true;
                        return;
                    }
                    if(key === 'is_by_order') {
                        this.product[key] = this.product[key] ? 1 : 0;
                    }                    
                    data.append(key, this.product[key]);
                }                
                console.log(this.product);

                try {
                    let response = await this.$http.post('products', data);
                    if (response.result == 'success') {
                        this.$parent.message = 'Товар ' + this.product.name + ' создан';
                        this.$parent.showModal = true;
                    }
                    this.product = {
                        name: '',
                        category_id: '',
                        short_info: '',
                        description: '',
                        image: null,
                        image_url: null,
                        is_by_order: false                        
                    };
                    this.imageName = '';
                    return
                } catch (e) {}
                this.$parent.message = 'Ошибка при создании товара';
                this.$parent.showModal = true;
            },

            saveImage (e) {
                this.product.image = e.target.files[0];
                this.imageName = e.target.files[0].name;
            }
        }
    }
</script>
