<template>
    <div class="with-overflow-form">
        <div id="product_name" class="row default-row creating-row">
            <div class="col-md-3"><b>Название</b></div>
            <div class="col-md-8">
                <input type="text" class="form-control" v-model="product.name" placeholder="Введите название товара">
            </div>
            <div class="col-md-1 check-or-error">
                <div>
                    <span class="fa fa-check checked" v-if="product.name"></span>
                    <span class="fa fa-warning errored" v-else></span>
                </div>
            </div>
        </div>
        <div id="product_category" class="row default-row creating-row">
            <div class="col-md-3"><b>Категория</b></div>
            <div class="col-md-8">
                <select class="form-control" name="" id="" v-model="product.category_id">
                    <option value="">Выберите категорию</option>
                    <option v-for="category, idx in categories" :key="idx" :value="category.id">{{category.name}}</option>
                </select>
            </div>
            <div class="col-md-1 check-or-error">
                <span class="fa fa-check checked" v-if="product.category_id"></span>
                <span class="fa fa-warning errored" v-else></span>
            </div>
        </div>  
        <div id="product_image" class="row default-row creating-row">
            <div class="col-md-3"><b>Фотография</b></div>
            <div class="col-md-8 image">
                <div class="own-type-file">
                    <div class="uploadedImage" v-if="(!$parent.hideImage) && (mode === 'update')">
                        <img :src="product.image_url" alt="">
                    </div>                
                    <label for="uploader" class="custom-label">
                        Загрузить картинку
                    </label>
                    <input type="file" @change="saveImage" id="uploader">{{$parent.imageName}}
                </div>
            </div>
            <div class="col-md-1 check-or-error">
                <span class="fa fa-check checked" v-if="product.image_url"></span>
                <span class="fa fa-warning errored" v-else></span>
            </div>
        </div>
        <div id="description" class="row default-row creating-row">
            <div class="col-md-3"><b>Описание</b></div>
            <div class="col-md-8">
                <!-- <textarea class="form-control" v-model="product.description" placeholder="Введите описание товара"></textarea> -->
                <!-- <vue2-html5-editor v-model="product.description" :height="200"></vue2-html5-editor> -->
                <vue-editor v-model="product.description" :height="300"></vue-editor>
            </div>
        </div>
        <div id="short_info" class="row default-row creating-row">
            <div class="col-md-3"><b>Краткое описание</b></div>
            <div class="col-md-8">
                <input type="text" class="form-control" v-model="product.short_info" placeholder="Введите краткое описание товара">
            </div>
        </div>
        <div id="is_by_order" class="row default-row creating-row">
            <div class="col-md-3"><b>Под заказ</b></div>
            <div class="col-md-1">
                <input class="form-control" type="checkbox" v-model="product.is_by_order">
            </div>                
        </div>        
    </div>
</template>

<script>
    import { VueEditor } from 'vue2-editor'
    export default {
        props: ['product', 'mode'],

        data() {
            return {
                categories: [],
            }
        },

        components: {
            VueEditor
        },

        mounted () {
            this.load()
        },

        methods: {
            async load () {
                var responsedData = await this.$http.get('products');
                this.categories = responsedData.categories; 
            },

            saveImage (e) {
                this.product.image = e.target.files[0];
                this.$parent.imageName = e.target.files[0].name;
                if (this.mode === 'update') {
                    this.$parent.hideImage = true;
                }
            },
        }
    }
</script>
