<template>
	<div class="panel panel-default main-block">
        <div class="panel-heading">
            <span class="head-text">Фотографии слайдера товара {{product.name}}</span>
        </div>
        <div class="panel-body nopadding full-panel"> 
        	<div class="row default-row creating-row with-overflow-form">
				<div class="col-md-12 image">
	                <div class="own-type-file">
	                    <div class="gallery-photo" v-for="photo, idx in photos" :key="idx">
	                        <img :src="photo.image_url" alt="">
	                        <!-- <div class="delete-image"></div> -->
	                        <button class="btn btn-danger btn-md" @click="deleteImage(photo.id)">Удалить</button>
	                    </div>                
	                    <label for="uploader" class="custom-label">
	                        Загрузить картинки
	                    </label>
	                    <input type="file" @change="saveImages" id="uploader" multiple>{{numOfFiles}} выбрано
	                </div>
	            </div>        		
        	</div>     
            <div id="button-create" class="row default-row creating-row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="buttons">
                        <button class="btn btn-primary btn-md" @click="save">Сохранить</button>
                        <button class="btn btn-primary btn-md" @click="$router.push(`/products/${product.id}`)">Вернуться к товару</button>
                    </div>
                </div>
            </div>                                  
        </div>
    </div>	
</template>

<script>
export default {
	data () {
		return {
			product: [],
			photos: [],
			numOfFiles: 0,
			postPhotos: []
		}
	},

	mounted () {
		this.load();
	},

	methods: {
		async load () {
			this.product = await this.$http.get(`products/${this.$route.params.id}`);
			this.photos = await this.$http.get(`products/${this.$route.params.id}/gallery`);
		},

		async save () {	
			let j = 0;
   			for (let i = 0; i < this.postPhotos.length; i++) {
   				let data = new FormData();
   				for (let key in this.postPhotos[i]) {
   					data.append(key, this.postPhotos[i][key]);
   				}
   				try {
	   				let response = await this.$http.post(`products/${this.$route.params.id}/gallery`, data);
	   				j++;
	   				continue;
	   			} catch (e) {}
	   			this.numOfFiles = 0;
				this.$parent.message = 'Ошибка при обновлении фотографий';
				this.$parent.showModal = true;
				return;	   			
   			}
   			await this.load();
   			this.numOfFiles = 0;	
   			this.$parent.message = 'Фотографии для товара ' + this.product.name + ' добавлены';
           	this.$parent.showModal = true;  
		},

		saveImages (e) {
			var global = this;
			this.postPhotos = [];
			for (let i = 0; i < e.target.files.length; i++) {
				global.postPhotos.push({
					image: e.target.files[i],
					product_id: global.product.id
				});
			}
			this.numOfFiles = this.postPhotos.length;

		},

		async deleteImage (id) {
			var response = await this.$http.delete(`products/image/${id}`);
			await this.load();
			this.$parent.message = 'Фотография удалена';
       		this.$parent.showModal = true;          	
		}
	}
}
</script>