<template>
    <div class="panel panel-default main-block">
        <div class="panel-heading">
            <span class="head-text">{{title}}</span>
        </div>
        <div class="panel-body nopadding full-panel">
            <div class="row default-row">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Введите название товара" v-model="filterName">
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="" id="" v-model="clickedCategory">
                        <option value="">Все товары</option>
                        <option v-for="category, idx in categories" :key="idx" :value="category.id">{{category.name}}</option>
                    </select>                    
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default btn-md" @click="refresh()">
                        <span class="fa fa-refresh">Обновить</span>
                    </button>
                </div>
                <div class="col-md-2 col-md-offset-4">
                    <button class="btn btn-md btn-primary" @click="$router.push('/products/create')">
                        Добавить товар
                    </button>
                </div>
            </div>
            <div class="row default-row">
                <div class="col-md-12 table-head">
                    <span><b>Список товаров</b></span>
                </div>
            </div>
            <div class="row default-row">
                <div class="col-md-9">
                    <div class="col-md-6 colomn-name"><span><b>Название</b></span></div>
                    <div class="col-md-6 colomn-name"><span><b>Краткое описание</b></span></div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="with-overflow">
                <div class="row default-row list-group-item" v-for="product, idx in filteredProd" :key="idx">
                    <div class="col-md-9">
                        <div class="col-md-6">{{product.name}}</div>
                        <div class="col-md-6">{{product.short_info}}</div>
                    </div>
                    <div class="col-md-3">
                        <div class="buttons">
                            <button class="btn btn-xs btn-warning" @click="$router.push(`/products/${product.id}`)">Редактировать</button>
                            <button class="btn btn-xs btn-danger" @click="deleteProduct(product)">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                products: [],
                categories: [],
                isCreate: false,
                clickedCategory: '',
                filteredProd: [],
                filterName: ''
            }
        },

        created () {
        },

        mounted() {
            this.load();
        },

        methods: {
            async load () {
                var responsedData = await this.$http.get('products');
                this.categories = responsedData.categories;
                this.products = responsedData.products;
                this.refresh();
            },

            async deleteProduct (product) {
                await this.$http.delete(`products/${product.id}`);
                await this.load();
                this.$parent.message = 'Товар ' + product.name + ' успешно удалён';
                this.$parent.showModal = true;
            },
            
            refresh () {
                let globalContext = this;
                this.filteredProd = this.products.filter(function (obj) {
                    return (obj.name.indexOf(globalContext.filterName) !== -1) && ((globalContext.clickedCategory == '') || (globalContext.clickedCategory == obj.category_id));
                });
            }
        }
    }
</script>
