 <template>
    <div class="panel panel-default main-block">
        <div class="panel-heading">
            <span class="head-text">Редактирование новости {{news.name}}</span>
        </div>
        <div class="panel-body nopadding full-panel">
            <inputform :news="news" :mode="'update'" :imageName="imageName"></inputform>         
            <div id="button-create" class="row default-row creating-row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="buttons">
                        <button class="btn btn-primary btn-md" @click="save">Сохранить</button>
                        <button class="btn btn-primary btn-md" @click="$router.push('/news')">Вернуться к списку</button>
                    </div>
                </div>
            </div>                                  
        </div>
    </div>
</template>

<script>
    import inputform from './form.vue'
    export default {
        data() {
            return {
                news: {
                    name: '',
                    slug: '',
                    short_info: '',
                    description: '',
                    image: null,
                    image_url: null
                },
                imageName: '',
                hideImage: false
            }
        },

        components: {
            inputform
        },

        mounted () {
            this.load();
        },

        methods: {
            async load () {
                this.news = await this.$http.get(`news/${this.$route.params.id}`);
            },

            async save () {
                const data = new FormData()
                for (let key in this.news) {
                    if (this.news[key] === null && key !== 'image_url') {
                        this.$parent.message = 'Необходимо заполнить все поля';
                        this.$parent.showModal = true;
                        return;
                    }
                    data.append(key, this.news[key]);
                }

                try {
                    let response = await this.$http.post(`news/${this.$route.params.id}`, data);
                    await this.load();
                    if (response.result == 'success') {
                        this.imageName = '';
                        this.hideImage = false;
                        this.$parent.message = 'Новость ' + this.news.name + ' обновлёна';
                        this.$parent.showModal = true;
                    }
                    return
                } catch (e) {}
                this.$parent.message = 'Ошибка при обновлении новости';
                this.$parent.showModal = true;
            },

            saveImage (e) {
                this.news.image = e.target.files[0];
                this.imageName = e.target.files[0].name;
                this.hideImage = true;
            }
        }
    }
</script>