<template>
    <div class="panel panel-default main-block">
        <div class="panel-heading">
            <span class="head-text">{{title}}</span>
        </div>
        <div class="panel-body nopadding full-panel">
            <div class="row default-row">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Введите название новости" v-model="filterName">
                </div>
                <div class="col-md-2">                 
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default btn-md" @click="refresh()">
                        <span class="fa fa-refresh">Обновить</span>
                    </button>
                </div>
                <div class="col-md-2 col-md-offset-4">
                    <button class="btn btn-md btn-primary" @click="$router.push('/news/create')">
                        Добавить новость
                    </button>
                </div>
            </div>
            <div class="row default-row">
                <div class="col-md-12 table-head">
                    <span><b>Список новостей</b></span>
                </div>
            </div>
            <div class="row default-row">
                <div class="col-md-9">
                    <div class="col-md-6 colomn-name"><span><b>Название</b></span></div>
                    <div class="col-md-6 colomn-name"><span><b>Краткое описание</b></span></div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="with-overflow">
                <div class="row default-row list-group-item" v-for="news, idx in filteredProd" :key="idx">
                    <div class="col-md-9">
                        <div class="col-md-6">{{news.name}}</div>
                        <div class="col-md-6">{{news.short_info}}</div>
                    </div>
                    <div class="col-md-3">
                        <div class="buttons">
                            <button class="btn btn-xs btn-warning" @click="$router.push(`/news/${news.id}`)">Редактировать</button>
                            <button class="btn btn-xs btn-danger" @click="deletenews(news)">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                news: [],
                isCreate: false,
                clickedCategory: '',
                filteredProd: [],
                filterName: ''
            }
        },

        created () {
        },

        mounted() {
            this.load();
        },

        methods: {
            async load () {
                var responsedData = await this.$http.get('news');
                this.news = responsedData.news;
                this.refresh();
            },

            async deletenews (news) {
                await this.$http.delete(`news/${news.id}`);
                await this.load();
                this.$parent.message = 'Новость ' + news.name + ' успешно удалёна';
                this.$parent.showModal = true;
            },
            
            refresh () {
                let globalContext = this;
                this.filteredProd = this.news.filter(function (obj) {
                    return obj.name.indexOf(globalContext.filterName) !== -1;
                });
            }
        }
    }
</script>
