<template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="head-text">Меню</span>
		</div>
		<div class="panel-body nopadding">
			<div class="links">
				<ul class="list-group">
					<router-link class="list-group-item" v-for="page, idx in pages" v-if="!!page.props" :key="idx" :class="{'active': $route.path.substring(0, page.path.length) == page.path}" :to="page.path">
			            <span :class="`fa fa-${page.props.icon}`"></span>
			            {{ page.props.title }}
			    	</router-link>
					<a class="list-group-item" href="/admin/logout">
		            	<span class="fa fa-sign-out"></span>
		            	Выход
		    		</a>
				</ul>	    			    					
			</div>			
		</div>
	</div>
</template>

<script>
import $ from 'jquery'
export default {
	props: ['pages'],
	data() {
		return {
			curpage: ''
		}
	},
	mounted() {
		this.changePage();
	},
	methods: {
		changePage() {	
			this.$parent.curpage = this.pages.filter( (obj) => {
					return obj.path == this.$route.path;
			});
		}
	}
}
</script>